@model Usuario

@{
    ViewData["Title"] = "Login ";
}

<form asp-action="CriarNovaNota" asp-controller="Login" method="post">
    <div class="form-group">
        <label for="email-user">Email:</label>
        <input type="text" class="form-control" id="email-user" placeholder="Email" asp-for="@Model.Email">
    </div>
    <div class="form-group">
        <label for="pwd-user">Senha:</label>
        <input type="password" class="form-control" id="pwd-user" placeholder="Senha" asp-for="@Model.Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>