@{
    Layout = "_Layout";
}

<form>
  <div class="form-group">
    <label for="TituloNota">Titulo:</label>
    <input type="email" class="form-control" id="TituloNota"  placeholder="Titulo">
  </div>
  <div class="form-group">
    <label for="TextoNota">Texto:</label>
    <textarea class="form-control" id="TextoNota" rows="6"></textarea>
  </div>
</form>