@model Nota

@{
    ViewData["Title"] = "Todas as notas";

    Layout = "_Layout";
}

<form asp-action="CriarNovaNota" asp-controller="Nota" method="post">
  <div class="form-group">
    <label for="TituloNota">Titulo:</label>
    <input type="text" class="form-control" id="TituloNota"  placeholder="Titulo" asp-for="@Model.Titulo">
  </div>
  <div class="form-group">
    <label for="TextoNota">Texto:</label>
    <textarea class="form-control" id="TextoNota" rows="6" asp-for="@Model.Texto"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>